/*INDEX*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    caret-color: transparent;
}

textarea {
    resize: none;
    caret-color: black;
}

header {
    height: 5%;
    width: 100%;
    box-shadow: 5%;
    background-color: #d6d4d4;
}

.logo {
    margin-top: 4px;
    margin-left: 15px;
    height: 75%;
    width: auto;
}

main {
    height: 85%;
    width: 100%;
}

section {
    overflow-y: auto;
    height: 90%;
    width: 100%;
}

.nav {
    height: 10%;
    width: 100%;
    display: flex;
    position: fixed;
    /*display: none; /*somente quando ta na tela de escolha de projetos*/
}

.nav button {
    color: black;
    background-color: #F4F4F4;
    border-radius: 10px;
    border: 0px;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav button:hover {
    background-color: #d6d4d4;
    cursor: pointer;
}

#menu {
    max-width: 10%;
}

.buttonLogo {
    width: auto;
    height: 100%;
    overflow: hidden;
}

footer {
    height: 10%;
    width: 100%;
    position: fixed;
}

/*PROJECTS SCREEN*/

.ProjectList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ProjectList button {
    color: black;
    background-color: #F4F4F4;
    border-radius: 10px;
    border: 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    text-align: left;
    font-size: 16px;
}

.ProjectList button:nth-child(even) {
    background-color: #eeeded;
}

.ProjectList button:hover {
    background-color: #d6d4d4;
    cursor: pointer;
}

.title {
    font-weight: bold;
}

.description {
    font-size: 12px;
    color: gray;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

#cadProject {
    color: black;
    background-color: #F4F4F4;
    border-radius: 10px;
    border: 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

#cadProject:hover {
    background-color: #d6d4d4;
    cursor: pointer;
}

/*CHECKLIST SCREEN*/

.ChecklistList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 87%;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.ChecklistList input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
    margin: 7px 15px;
}

.ChecklistList li:nth-child(even) {
    background-color: #eeeded;
}

.ChecklistList label:hover {
    cursor: pointer;
}

#cadChecklist {
    color: black;
    background-color: #F4F4F4;
    border-radius: 10px;
    border: 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

#cadChecklist:hover {
    background-color: #d6d4d4;
    cursor: pointer;
}

/*NOTES SCREEN*/

.noteList {
    width: 100%;
    height: 87%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 25px;
    padding: 16px;
}

.noteList button {
    background-color: #fdfdfd;
    border-radius: 25px;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    border: none;
    color: black;
    align-items: start;
    min-width: 140px;
    max-width: 200px;
    min-height: 100px;
    max-height: 150px;
    white-space: nowrap;
}

.noteList button:hover {
    background-color: #d6d4d4;
    cursor: pointer;
}

.noteList::after {
    content: "";
    display: block;
    height: 215px;
}

#cadNote {
    color: black;
    background-color: #F4F4F4;
    border-radius: 10px;
    border: 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cadNote:hover {
    background-color: #d6d4d4;
    cursor: pointer;
}

/*CHAT IA*/
/*TROCAR AS CORES*/
.HistoricIA {
    display: flex;
    width: 100%;
    height: 85%;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
    /*CONFIRMAR SE VAI SER NECESSARIO*/
    overflow-y: auto;
}

.HistoricIA div {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-radius: 25px;
    padding: 10px 14px;
    max-width: 80%;
    margin-bottom: 10px;
}

.Context {
    align-self: center;
    background-color: transparent;
}

.User {
    align-self: flex-end;
    background-color: grey;
}

.IA {
    align-self: flex-start;
    background-color: blue
}

#TextToIA {
    width: 100%;
    height: auto;
}